@model Proyecto_TiendaElectronica.Models.Imagen

@{
	Layout = "_LayoutAdmin";
}

<h1 class="mb-3">Editar Imagenes</h1>

<div class="admin-element">
	
	<form asp-action="ModificaImagen" method="post" enctype="multipart/form-data">

		<input asp-for="ImagenId" type="hidden" />
		<div class="row mt-3">
			<div class="form-field col-lg-4 ">
				<label class="label-file" for="Imagen1">Modificar Imagen 1</label>
				<input type="file" id="Imagen1" name="Imagen1" accept="image/jpeg, image/png" class="input-file js-input" onchange="previewImage(this, '#previewImagen1')" />
				<div class="image-preview-container">
					<img id="previewImagen1" src="data:image/jpeg;base64,@(Model.Imagen1 != null ? Convert.ToBase64String(Model.Imagen1) : "")" class="img-thumbnail img-uniform" />
				</div>
			</div>

			<div class="form-field col-lg-4">
				<label class="label-file" for="Imagen2">Modificar Imagen 2</label>
				<input type="file" id="Imagen2" name="Imagen2" accept="image/jpeg, image/png" class="input-file js-input" onchange="previewImage(this, '#previewImagen2')" />
				<div class="image-preview-container">
					<img id="previewImagen2" src="data:image/jpeg;base64,@(Model.Imagen2 != null ? Convert.ToBase64String(Model.Imagen2) : "")" class="img-thumbnail img-uniform" />
				</div>
			</div>

			<div class="form-field col-lg-4">
				<label class="label-file" for="Imagen3">Modificar Imagen 3</label>
				<input type="file" id="Imagen3" name="Imagen3" accept="image/jpeg, image/png" class="input-file js-input" onchange="previewImage(this, '#previewImagen3')" />
				<div class="image-preview-container">
					<img id="previewImagen3" src="data:image/jpeg;base64,@(Model.Imagen3 != null ? Convert.ToBase64String(Model.Imagen3) : "")" class="img-thumbnail img-uniform" />
				</div>
			</div>
		</div>

		<a href="@Url.Action("EditarArticulo", new { id = ViewBag.ArticuloId })" class="btn boton-secundario mt-3">
			<span class="shadow-volver"></span>
			<span class="edge-volver"></span>
			<span class="front-volver text">
				Volver
			</span>
		</a>
		<button type="submit" class="btn boton mt-3">
			<span class="shadow"></span>
			<span class="edge"></span>
			<span class="front text">
				Actualizar
			</span>
		</button>
	</form>
</div>

