
<div class="my-5 migajas">
    <div class="container ">
        <div class="my-5 align-items-center">
            <div class="py-5">
                <p>Inicio / <span>Sobre Nosotros</span></p>
                <h1>Sobre Nosotros</h1>
            </div>
        </div>
    </div>
</div>




<div class="my-5  " style="background-color:dimgray">
    <div class="container p-3">
        <div class="row align-items-center">
            <div class="col-6">
                <p>Sobre nosotros</p>
                <p>
                    ¡Bienvenidos a Navatech, tu destino definitivo para soluciones tecnológicas avanzadas! Desde nuestra fundación, hemos estado comprometidos con la misión de proporcionar a nuestros clientes acceso a las últimas innovaciones en tecnología informática. Con años de experiencia en la industria, Navatech se ha ganado la reputación de ser un líder confiable en el mercado de productos de computación.
            </div>

            <div class="col-md-6">
               
                <div class="row m-5 p-5 d-flex  align-items-center">
                    <div class="col">
                        <img src="~/img/1 tienda.jpg" alt="a" class="rounded-circle img-fluid " style="width: 80px; height: 80px; object-fit: cover;">
                    </div>

                    <div class="col">
                        <img src="~/img/2 tienda.jpg" alt="a" class="rounded-circle img-fluid" style="width: 80px; height: 80px; object-fit: cover;">
                    </div>
                    <div class="col ">
                        <img src="~/img/3 tienda.jpg" alt="a" class="rounded-circle img-fluid" style="width: 80px; height: 80px; object-fit: cover;">
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
</div>


<div class="container p-4" style="background-color:black">

    <div class="">

        <div class="row ">

            <div class="col d-flex justify-content-center ">
                <p class=" d-flex align-items-center m-0">Envio Gratis</p>
            </div>

            <div class="col d-flex justify-content-center ">
                <p class=" d-flex align-items-center m-0">Compras Seguras</p>
            </div>

            <div class="col d-flex justify-content-center ">
                <p class=" d-flex align-items-center m-0">24/7</p>
            </div>

        </div>






    </div>





</div>

